.body {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.inner {
  width: 100%;
  min-width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; */

  overflow-y: hidden;
}

.secTitle {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  font-size: 26px;
}

.secDesc {
  width: 100%;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence {
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-wrap;

  overflow: hidden;
}
