.body {
  width: 100%;
  height: 100%;
  padding: 12px;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
}

.secDesc {
  border: 1px solid blue;
  width: 55%;
}

.secList {
  border: 1px solid green;
  width: 45%;
}
